main {
  width: 95%;
  max-width: 1250px;
  min-height: 65vh;
  margin: 20px auto;
  padding: 20px;
}

main h2 {
  color: #4CAF50;
  margin-bottom: 20px;
}

/*Terefas*/
.tasks {
  display: flex;
  flex-direction: column;
}

.task-item {
  display: flex;
  align-items: center;
  background-color: #e0e0e0;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  text-decoration: none;
  color: #333;
  transition: background-color 0.3s;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.task-item:hover {
  scale: 1.01;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
  transition: .5s;
}

.task-item *:first-child {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  fill: #2b642dab;
}

.task-item span {
  font-size: 1.2em;
}


/*Sobre Tarefa*/

#voltar img{
  height: 35px;
  opacity: 40%;
}

#voltar img:hover{
  scale: 1.05;
  opacity: 60%;
  transition: .5s;
}



.container-infor {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  width: 100%;
  margin: 20px auto;
}


.subtitle {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}

.project-details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.status {
  flex: 1;
}

.status-label {
  display: block;
  font-weight: bold;
}

.status-value {
  background-color: #dff0d8;
  color: #3c763d;
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
  margin-top: 5px;
}

.details {
  flex: 2;
}

.details-item {
  display: block;
  margin-bottom: 5px;
}

.description {
  margin-bottom: 20px;
}

.actions {
  margin-bottom: 20px;
}

button {
  background-color: green;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

button.recommend {
  background-color: green;
}

button.linkedin {
  background-color: green;
}

.freelancers {
  border-top: 1px solid #e5e5e5;
  padding-top: 20px;
}

.freelancer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
  position: relative;
  gap: 5px;
}

.freelancer img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.freelancer-info {
  display: flex;
  flex-direction: column;
}

.freelancer-name {
  font-weight: bold;
}

.freelancer-title,
.freelancer-rate,
.freelancer-location {
  font-size: 14px;
  color: #666;
}

.freelancer .confirmation{
  display: none;
  position: absolute;
  right: 15px;
  bottom: 80%;

  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  width: 250px;
  padding: 15px;
}

.freelancer .confirmation::before{
  content: '';
  position: absolute;
  right: 15px;
  bottom: -7.5px;
  rotate: 45deg;
  background-color: #ffffff;
  width: 15px;
  height: 15px;
}

.freelancer .confirmation hr{
  margin: 15px 0;
}

.freelancer .visible{
  display: block;
}


button:hover{
  opacity: .8;
  scale: 1.01;
  transition: .8s;
}

button.cancel{
  background-color: gray;
}