main{
    padding: 15px 0px;
}
:root {
    --color-primary-yellow: #f2af08;
}
    

.banner h1{
    font-size: 4em;
}

.banner h1 span{
    color: #FFAE81;
}

section #text-info{
    display: block;
}

.text-left p {
    font-size: 18px;
}

.text-info-desc{
    display: -moz-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    font-size: 18px;
    line-height: 24px;
}

.text-h3{
    text-align: center;
    margin-bottom: 30px;
    font-size: 22px;
    line-height: 26px;
}

.text-h3-3{
    font-size: 18px;
    background-color: #04770a;
    padding: 0 2px;
}

.text-info-desc-two{
    width: 100%;
    display: -moz-box;
    display: flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -moz-box-pack: justify;
    justify-content: space-between;
    -moz-box-align: center;
    align-items: center;
}

.text-left{
    font-size: 32px;
    line-height: 36px;
    width: 450px;
}

.text-desc-right{
    display: -moz-box;
    display: flex;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    margin-top: 12px;
}

.text-right1{
    font-family: Poetsen One;
    font-size: 100px;
    line-height: 110px;
}

.text-right2{
    align-self: self-end;
    font-size: 22px;
    line-height: 26px;
}


section #text-info2{
    display: block;
}



.text-info-desc2{
    display: -moz-box;
    display: flex;
    -moz-box-pack: justify;
    justify-content: space-between;
    margin-top: 50px;
    height: 470px;
    border-top: 10px solid color #b5b5b5;
    border-bottom: 10px solid color #b5b5b5;
}


.text-desc-p{
    max-width: 440px;
    min-height: 150px;
    display: -moz-box;
    display: flex;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    padding-right: 16px;
}

.text-h3-2{
    font-size: 20px;
    line-height: 42px;
    font-weight: 600;
    display: inline;
    margin-top: 50px;
}

.text-p-1{
    font-size: 18px;
    line-height: 24px;
    margin-top: 40px;
}

.text-p-2{
    font-size: 18px;
    line-height: 24px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.text-img{
    width: 100%;
    min-height: 150px;
    display: -moz-box;
    display: flex;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    -moz-box-pack: start;
    justify-content: flex-start;
    -moz-box-align: start;
    align-items: flex-start;
    position: absolute;
    left: 50%;
    font-size: 18px;
    line-height: 24px;
    padding-top: 30px;
    padding-bottom: 90px;
}

.text-img-p{
    width: 300px;
    font-family: Poetsen One;
    font-size: 24px;
    line-height: 28px;
    font-weight: 600;
    color: #000000;
    margin-left: 30px;
    margin-bottom: 20px;
}

.butao-clique{
    width: 290px;
    height: 40px;
    margin-left: 30px;
    border: none;
    font-family: inherit;
    font-size: 18px;
    line-height: 24px;
    background-color: #04770a;
    border-radius: 8px;
    -webkit-box-shadow: 0 4px 4px rgba(0,0,0,.25);
    box-shadow: 0 4px 4px rgb(255, 255, 255);
    cursor: pointer;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.HowItWorksSection_howItWorksContainer__Gs4YU {
    display: -moz-box;
    display: flex;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    -moz-box-pack: justify;
    justify-content: space-between;
    padding-top: 110px;
    margin-top: -50px
}

.HowItWorksSection_howItWorksTitleContainer__37JuF {
    margin-bottom: 26px
}

.HowItWorksSection_howItWorksTitle__QolFV {
    font-size: 30px;
    line-height: 48px;
    font-weight: 600;
    display: inline
}

.HowItWorksSection_highlightedText__3DvE1 {
    background-color: green;
    padding: 4px 8px
}

.HowItWorksSection_howItWorksInfoParagraph__3WGB1 {
    margin-bottom: 16px;
    font-size: 18px;
    line-height: 24px
}

.HowItWorksSection_howItWorksInfoLastParagraph__2TGkA {
    margin-top: 20px
}

.HowItWorksSection_textColorHighlight__1iFMe {
    color: var(--color-secondary-purple);
    font-weight: 600
}

.HowItWorksSection_textFontHighlight__2SfHF {
    font-family: Poetsen One;
    font-size: 22px
}

.HowItWorksSection_imageContainer__1yai_ {
    display: -moz-box;
    display: flex;
    align-self: center;
    overflow: hidden;
    max-width: 100%;
    max-height: 410px;
    margin-top: 10px;
    border-radius: 40px
}

.HowItWorksSection_ctaContainer__1w_dQ {
    max-width: 640px;
    align-self: center;
    display: -moz-box;
    display: flex;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    -moz-box-align: center;
    align-items: center;
    margin-top: 30px;
    text-align: center
}

.HowItWorksSection_howItWorksCTAParagraph__1xqPc {
    font-size: 24px;
    line-height: 30px
}

.HowItWorksSection_ctaButton__2uEjp {
    width: 540px;
    height: 40px;
    margin-top: 20px;
    border: none;
    background-color:  #04770a;
    border-radius: 8px;
    font-family: inherit;
    font-size: 18px;
    line-height: 24px;
    -webkit-box-shadow: 0 4px 4px rgba(0,0,0,.25);
    box-shadow: 0 4px 4px rgba(0,0,0,.25);
    cursor: pointer;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.HowItWorksSection_ctaButton__2uEjp:active,.HowItWorksSection_ctaButton__2uEjp:hover {
    background-color: rgb(255, 254, 254)
}


